@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body{
   font-size: 100%;
   background: linear-gradient(68.15deg, #2a2f2d 16.62%, #8e5d52 85.61%);
}

.cabecalho{
   padding: 10px 24px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.cabecalho-img{
   width: 72px;
}

.cabecalho-menu{
   display: flex;
}

.cabecalho ul li{
   display: inline-block;
}

.cabecalho li a{
   font-family: 'Sarala';
   color: #fff2e7;
   font-size: 18px;
   padding: 0 16px;
   font-weight: 300;
   transition: 0.18s ease-in-out;
}

.cabecalho li a:hover{
   color: #fff2e7aa;
   transition: 0.18s ease-in-out;
}

.conteudo{
   border-top: 0.4px solid #fff2e7;
   margin-bottom: 48px;
}

.conteudo-principal{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

.conteudo-principal-escrito{
   display: flex;
   flex-direction: column;
   gap: 32px;
}

.conteudo-principal-escrito h1{
   font-family: 'Righteous';
   font-weight: 400;
   font-size: 64px;
   color: #fff2e7;
}

.conteudo-principal-escrito h2{
   font-family: 'Sarala';
   font-weight: 400;
   font-size: 24px;
   color: #ECD6C4;
}

.btn{
   font-family: 'Sarala';
   font-size: 24px;
   font-weight: 400;
   color: #2F2325;
   background-color: #ECD6C4;
   width: 180px;
   height: 60px;
   border-radius: 20px;
   border: none;
   box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
   transition: 0.2s linear;
}

.btn:hover{
   cursor: pointer;
   background-color: rgba(236, 214, 196, 0.53);
   transition: 0.2s linear;
}

.img-principal{
   height: 430px;
}

.conteudo-secundario{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
   margin-top: 48px;
}

.conteudo-secundario h3{
   padding-top: 48px;
   border-top: 0.4px solid #fff2e7;
   font-family: 'Righteous';
   font-weight: 400;
   font-size: 24px;
   color: #fff2e7;
   margin-bottom: 16px;
}

.conteudo-secundario p{
   font-family: 'Sarala';
   font-size: 18px;
   font-weight: 400;
   color: #ECD6C4
}

.rodape{
   padding: 32px;
   border-top: 0.4px solid #fff2e7;
}

.rodape-img{
   height: 48px;
   display: block;
   margin: 0 auto;
}